body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}
.header-fix{
    height: 85px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eee;
    border-bottom: 1 px solid #ddd;
    box-shadow: 0 px 3 px 5 px 0 px rgba(0,0,0,0.75);
}
.header-container{
    width: 1024px;
    margin: auto;
}
.container{
    width: 1024px;
    margin: 84px auto 10px;
    border-radius: 5px;
    border: 1 px solid #bbbbbb;
    background-color: #eeeeee;
    padding: 10px;
}
aside{
    float: right;
    width: 25%;
    margin-left: 1%;
    margin-right: 0;
    padding: 10px;
    border-radius: 5px;
    border: 1 px solid #bbbbbb;
    background-color: white;
}
h3{
    margin-bottom: 0px;
}
ul{
    margin-top: 10px;
}
article{
    text-align: justify;
}
span{
    font-weight: bold;
}
.framework{
    font-weight: bold;
}